page-info-emergencia {
    .titulo{
        color: #F48E28;
        text-align: center;
        h1{
            font-weight: bold;
            font-size: 250%;
            font-family: 'Open Sans', sans-serif;
        }
    }
    .ion-col{
        border-radius: 100%;
    }
}
